doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Curriculum Vitae
    body
        div.container
            div.logo
                div.portrait
                h2 name here
                h1 surname
                h3 graphic designer
            div.profile
                h2 profile
                p
                    |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    |Aenean commodo ligula eget dolor. Aenean massa.
                    |Cum sociis natoque penatibus et magnis dis parturient montes,
                    |nascetur ridiculus mus. Donec quam felis, ultricies nec,
                    |pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                    |Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                    |In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
                    |Nullam dictum felis  <b>eu pede mollis pretium. Integer tincidunt.
                    |Cras dapibus. Vivamus elementum semper nisi.
                    |Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                    |consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in,
                    |viverra quis, feugiat a, tellus.
                    |Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</b>
            div.contact
                h2 contact
                table
                    tr
                        td adress
                        td Main street, City.
                    tr
                        td e-mail
                        td contact@domain.com
                    tr
                        td phone
                        td 555-555-555
                    tr
                        td website
                        td www.yourweb.com
            div.skills
                h2 skills
                h3 creative
                h3 teamwork
                h3 innovate
                h3 communacation
            div.education
                h2 education
                dl
                    dt master degree // Feb 2011 - Jun 2014
                    <br/> university name
                        dd
                            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            |Aenean commodo ligula eget dolor. Aenean massa.
                            |Cum sociis natoque penatibus et magnis dis parturient montes,
                            |nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                    dt master degree // Feb 2011 - Jun 2014
                    <br/> university name
                        dd
                            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            |Aenean commodo ligula eget dolor. Aenean massa.
                            |Cum sociis natoque penatibus et magnis dis parturient montes,
                            |nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                    dt master degree // Feb 2011 - Jun 2014
                    <br/> university name
                        dd
                            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            |Aenean commodo ligula eget dolor. Aenean massa.
                            |Cum sociis natoque penatibus et magnis dis parturient montes,
                            |nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                    dt master degree // Feb 2011 - Jun 2014
                    <br/> university name
                        dd
                            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            |Aenean commodo ligula eget dolor. Aenean massa.
                            |Cum sociis natoque penatibus et magnis dis parturient montes,
                            |nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            div.expirience
                h2 expirience
                dl
                    dt company name // Feb 2011 - Jun 2014
                    <br/> your job here
                        dd
                            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            |Aenean commodo ligula eget dolor. Aenean massa.
                            |Cum sociis natoque penatibus et magnis dis parturient montes,
                            |nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                    dt company name // Feb 2011 - Jun 2014
                    <br/> your job here
                        dd
                            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            |Aenean commodo ligula eget dolor. Aenean massa.
                            |Cum sociis natoque penatibus et magnis dis parturient montes,
                            |nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                    dt company name // Feb 2011 - Jun 2014
                    <br/> your job here
                        dd
                            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            |Aenean commodo ligula eget dolor. Aenean massa.
                            |Cum sociis natoque penatibus et magnis dis parturient montes,
                            |nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
                    dt comapany name // Feb 2011 - Jun 2014
                    <br/> your job here
                        dd
                            |Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                            |Aenean commodo ligula eget dolor. Aenean massa.
                            |Cum sociis natoque penatibus et magnis dis parturient montes,
                            |nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.
            div.software
                h2 software
                h3 photoshop
                h3 illustrator
                h3 indesign
                h3 dreamweaver
                h3 after effects
                h3 html&css3