base-color = #3d6cb0

.container
    width: 1200px

.portrait
    display inline-block
    width: 233px
    height: 233px
    border: 1px solid base-color
    border-radius: 50%
    background-color: base-color
    box-shadow: 0 0 0 13px white inset

