@font-face {
  font-family: "MyriadProRegular";
  src: url(../fonts/MyriadProRegular.eot);
  src: url(../fonts/MyriadProRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/MyriadProRegular.woff) format("woff"), url(../fonts/MyriadProRegular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProBold";
  src: url(../fonts/MyriadProBold.eot);
  src: url(../fonts/MyriadProBold.eot?#iefix) format("embedded-opentype"), url(../fonts/MyriadProBold.woff) format("woff"), url(../fonts/MyriadProBold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProItalic";
  src: url(../fonts/MyriadProItalic.eot);
  src: url(../fonts/MyriadProItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/MyriadProItalic.woff) format("woff"), url(../fonts/MyriadProItalic.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProSemiBold";
  src: url(../fonts/MyriadProSemiBold.eot);
  src: url(../fonts/MyriadProSemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/MyriadProSemiBold.woff) format("woff"), url(../fonts/MyriadProSemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProBoldItalic";
  src: url(../fonts/MyriadProBoldItalic.eot);
  src: url(../fonts/MyriadProBoldItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/MyriadProBoldItalic.woff) format("woff"), url(../fonts/MyriadProBoldItalic.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProSemiBoldItalic";
  src: url(../fonts/MyriadProSemiBoldItalic.eot);
  src: url(../fonts/MyriadProSemiBoldItalic.eot?#iefix) format("embedded-opentype"), url(../fonts/MyriadProSemiBoldItalic.woff) format("woff"), url(../fonts/MyriadProSemiBoldItalic.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "MyriadProLightSemiExt";
  src: url(../fonts/MyriadProLightSemiExt.eot);
  src: url(../fonts/MyriadProLightSemiExt.eot?#iefix) format("embedded-opentype"), url(../fonts/MyriadProLightSemiExt.woff) format("woff"), url(../fonts/MyriadProLightSemiExt.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}
.title-block {
  position: relative;
}
.title-block::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  top: 50%;
  background-color: #3d6cb0;
  z-index: -10;
}
.title-block .wrapper {
  position: relative;
  display: inline-block;
  background-color: #fff;
  z-index: 10;
}
.title-block .icon {
  display: inline-block;
  margin-right: 7px;
  width: 70px;
  height: 70px;
  border: 1px solid #3d6cb0;
  border-radius: 50%;
  background-color: #3d6cb0;
  box-shadow: 0 0 0 2px #fff inset;
}
.title-block .icon::before {
  content: '';
  display: block;
  width: 47px;
  height: 54px;
  background: url(../images/sprite.png) no-repeat;
  margin: 15px auto;
}
.title-block .icon-profile::before {
  background-position-x: -235px;
}
.title-block .icon-contact::before {
  background-position-x: -188px;
}
.title-block .icon-skills::before {
  background-position-x: -141px;
}
.title-block .icon-education::before {
  background-position-x: -47px;
}
.title-block .icon-experience::before {
  background-position-x: -94px;
}
.title-block .icon-software::before {
  background-position-x: 0;
}
.title-block h2.title {
  display: inline-block;
  text-transform: uppercase;
  color: #3d6cb0;
  font-family: 'MyriadProBold';
  font-size: 41px;
  margin: 0;
  padding-top: 8px;
  vertical-align: top;
}
.container {
  width: 1240px;
  margin: 0 auto;
}
@media screen and (max-width: 1240px) {
  .container {
    width: 680px;
  }
}
.left-column {
  float: left;
  width: 420px;
  margin-left: 44px;
}
.right-column {
  float: right;
  width: 650px;
  margin-right: 46px;
}
@media screen and (max-width: 1240px) {
  .left-column,
  .right-column {
    float: none;
    margin: 0 auto;
  }
}
.logo {
  text-align: center;
  margin-top: 80px;
  margin-left: 30px;
}
.logo .portrait {
  display: inline-block;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 1px solid #3d6cb0;
  background-color: #3d6cb0;
  box-shadow: 0 0 0 13px #fff inset;
}
.logo h1 {
  font-family: 'MyriadProBold';
  font-size: 62px;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  margin-top: -20px;
}
.logo h2 {
  font-family: 'MyriadProLightSemiExt';
  font-size: 53px;
  font-weight: normal;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  margin-top: 21px;
}
.logo h3 {
  font-family: 'MyriadProBold';
  font-size: 24px;
  color: #000;
  text-transform: uppercase;
  margin: 0;
}
.profile {
  margin-top: 76px;
  margin-left: 10px;
}
.profile p {
  font-family: 'MyriadProRegular';
  font-size: 15px;
  margin: 0;
  margin-top: 8px;
  padding-right: 10px;
  word-spacing: 1px;
  line-height: 19px;
}
.contact {
  margin-top: 40px;
  margin-left: 10px;
}
.contact table {
  margin: 0;
  padding: 0;
  margin-left: -29px;
  border-spacing: 27px;
}
.contact table tr td:first-child {
  font-family: 'MyriadProBold';
  font-size: 20px;
  color: #3d6cb0;
  text-transform: uppercase;
}
.contact table tr td:last-child {
  font-family: 'MyriadProRegular';
  font-size: 20px;
  padding-left: 15px;
}
.skills {
  margin-top: 20px;
  margin-bottom: 89px;
  margin-left: 8px;
}
.skills > span {
  display: block;
  text-align: center;
  font-family: 'MyriadProRegular';
  font-size: 26px;
  text-transform: uppercase;
  margin-left: 7px;
  margin-top: 17px;
}
.skills > span span.dot {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #e6e6e6;
  margin-right: 10px;
}
.skills > span span.dot.active {
  background-color: #3d6cb0;
}
.skills > span span.dot:first-child {
  margin-left: 5px;
}
.skills > span span.dot:nth-child(4n),
.skills > span span.dot:nth-child(11) {
  margin-right: 11px;
}
.skills > span span.dot:nth-child(5n) {
  margin-right: 12px;
}
.skills > span:nth-of-type(2) {
  margin-top: 12px;
}
.skills > span:nth-of-type(2) .wrap {
  margin-top: 1px;
}
.skills > span:nth-of-type(3) {
  margin-top: 13px;
}
.skills > span:nth-of-type(3) .wrap {
  margin-top: -1px;
}
.skills > span:last-of-type {
  margin-top: 13px;
}
.skills > span:last-of-type .wrap {
  margin-top: -3px;
}
.education {
  margin-top: 68px;
}
.education .icon {
  margin-right: 16px;
}
.education .title {
  padding-top: 7px;
}
.education .wrap {
  position: relative;
  margin-left: 50px;
  margin-top: 19px;
}
.education .wrap-item {
  display: inline-block;
  font-size: 16px;
  font-family: 'MyriadProRegular';
}
.education .wrap-item span:first-of-type {
  font-family: 'MyriadProBold';
  font-size: 26px;
  color: #3d6cb0;
  text-transform: uppercase;
}
.education .wrap-item span:nth-of-type(2) {
  display: inline-block;
  margin-left: 13px;
  font-size: 26px;
}
.education .wrap-item span:nth-of-type(3) {
  font-size: 26px;
  text-transform: uppercase;
}
.education .wrap-item span:last-of-type {
  display: inline-block;
  margin-top: 6px;
  margin-left: 3px;
}
.education .wrap::before {
  content: '';
  position: absolute;
  top: 9px;
  left: -39px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 21px;
}
.education .wrap:nth-child(3) {
  margin-top: 10px;
}
.education .wrap:nth-child(4) {
  margin-top: 8px;
}
.education .wrap:nth-child(5) {
  margin-top: 7px;
}
.experience {
  margin-top: 52px;
}
.experience .icon {
  width: 72px;
  height: 72px;
}
.experience .title {
  margin-left: 7px;
  margin-top: 2px;
}
.experience .wrap {
  position: relative;
  margin-left: 50px;
  margin-top: 34px;
}
.experience .wrap-item {
  display: inline-block;
  font-size: 16px;
  font-family: 'MyriadProRegular';
}
.experience .wrap-item span:first-of-type {
  font-family: 'MyriadProBold';
  font-size: 26px;
  text-transform: uppercase;
}
.experience .wrap-item span:nth-of-type(2) {
  display: inline-block;
  margin-left: 13px;
  font-size: 26px;
}
.experience .wrap-item span:nth-of-type(3) {
  font-size: 26px;
  text-transform: uppercase;
}
.experience .wrap-item span:last-of-type {
  display: inline-block;
  margin-top: 6px;
  margin-left: 3px;
}
.experience .wrap::before {
  content: '';
  position: absolute;
  top: 9px;
  left: -39px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  margin-right: 21px;
}
.experience .wrap:nth-child(3) {
  margin-top: 8px;
}
.experience .wrap:nth-child(4) {
  margin-top: 10px;
}
.software {
  margin-top: 50px;
}
.software .title {
  margin-left: 9px;
  margin-top: 3px;
}
.software .progress-item {
  display: inline-block;
  width: 277px;
  margin-left: 7px;
  margin-top: 21px;
}
.software .progress-item .progress-title {
  margin-left: -1px;
}
.software .progress-item:nth-child(2n+3) {
  margin-left: 64px;
}
.software .progress-item:nth-child(2n+3) .progress-title {
  margin-left: 2px;
}
.software .progress-item:nth-child(4),
.software .progress-item:nth-child(5) {
  margin-top: 35px;
}
.software .progress-item:nth-child(6),
.software .progress-item:nth-child(7) {
  margin-top: 32px;
}
.software .progress-item .progressbar {
  position: relative;
  width: 277px;
  height: 22px;
  background-color: #e6e6e6;
}
.software .progress-item .progressbar .progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #3d6cb0;
}
.software .progress-title {
  font-family: 'MyriadProRegular';
  font-size: 26px;
  text-transform: uppercase;
}
